:root {
	--waddon-slash-background: #3c3f4c;
	--waddon-slash-background-active: #5e6277;
	--waddon-slash-text: rgb(242, 245, 245);
	--waddon-slash-placeholder: #c0c3cf;
}

.container {
	display: block;
	position: fixed;
	left: 100px;
	right: 100px;
	top: 100px;
	background-color: transparent;
	cursor: pointer;
}

.search {
	width: 100%;
	height: 32px;

	outline: none;
	border: none;
	font-size: 16px;
	background-color: var(--waddon-slash-background);
	color: var(--waddon-slash-text);
	padding: 8px;
}
.search::placeholder {
	color: var(--waddon-slash-placeholder);
	text-align: left;
}

.list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.item {
	font-size: 16px;
	background-color: var(--waddon-slash-background);
	color: var(--waddon-slash-text);
	padding: 8px;
}
.item.active {
	background-color: var(--waddon-slash-background-active);
}

.no-suggestions {
	font-size: 16px;
	background-color: var(--waddon-slash-background);
	color: var(--waddon-slash-text);
	padding: 8px;
}
